:root {
  --primary-red: #e70814;
  --primary-red-hover: #d60000;
  --white: #ffffff;
  --black: #000000;
  --bg-header: #181111;

  --text-main: #ffffff;
  --text-muted: #b0b0b0;
  --text-dark: #666666;
  --text-light-muted: #888888;

  --bg-page-dark: #080404;
  --bg-card: #141414;
  --bg-input: #1a1a1a;
  --bg-input-focus: #222222;

  --border-card: #2a2a2a;
  --border-input: #333333;
  --border-checkbox: #555555;

  /* Home page specific colors */
  --home-text-main: #f1f5f9;
  --home-text-muted: #94a3b8;
  --home-bg-page: #0b101a;
  --home-bg-card: #1f2937;
  --home-bg-input: #1a2333;
  --home-border-card: #1f293d;
  --home-border-input: #2d3b54;

  --bg-gradient-login: radial-gradient(
    circle at center,
    rgba(60, 20, 20, 0.4) 0%,
    rgba(15, 8, 8, 1) 40%,
    rgba(8, 4, 4, 1) 100%
  );
  --bg-gradient-register: #111827;
}
